<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gabrielfreitas.nac_1_lockit">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        tools:replace="android:icon,android:roundIcon">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                />
        </provider>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity android:name=".SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="example"
                    android:host="gizmos" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".LogInScreen" android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPassword" android:screenOrientation="portrait"/>
        <activity android:name=".RegistrationScreen" android:screenOrientation="portrait"/>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" android:screenOrientation="portrait"/>
        <activity android:name=".SelecionaArmario" android:screenOrientation="portrait"/>
        <activity android:name=".FaceRecognition" android:screenOrientation="portrait">
            <!--meta-data
                android:name="com.google.firebase.ml.version.DEPENDENCIES"
                android:value="face"/-->
        </activity>
        <activity android:name=".ConectaBluetooth" android:screenOrientation="portrait"/>
        <activity android:name=".GeraPassword" android:screenOrientation="portrait"/>
        <activity android:name=".DestravaArmario" android:screenOrientation="portrait"/>
        <activity android:name=".AntigoConectaDireto" android:screenOrientation="portrait"/>
        <activity android:name=".CarregandoArmario" android:screenOrientation="portrait"/>
        <activity android:name=".ScannerQr" android:screenOrientation="portrait"/>
        <activity android:name=".AbreArmario" android:screenOrientation="portrait"/>
        <activity android:name=".ConectaDireto" android:screenOrientation="portrait"/>
        <activity android:name=".ArmarioAberto" android:screenOrientation="portrait"/>
        <!--activity android:name=".FaceDetection" android:screenOrientation="portrait"/-->
    </application>

</manifest>